[submodule "compound-protocol"]
	path = compound-protocol
	url = https://github.com/compound-finance/compound-protocol.git
[submodule "makerdao-dss"]
	path = makerdao-dss
	url = https://github.com/makerdao/dss.git
[submodule "sushiswap"]
	path = sushiswap
	url = https://github.com/sushiswap/sushiswap.git
[submodule "uniswap-v2-core"]
	path = uniswap-v2-core
	url = https://github.com/Uniswap/uniswap-v2-core.git
[submodule "uniswap-v2-periphery"]
	path = uniswap-v2-periphery
	url = https://github.com/Uniswap/uniswap-v2-periphery.git
[submodule "uniswap-v3-core"]
	path = uniswap-v3-core
	url = https://github.com/Uniswap/uniswap-v3-core.git
[submodule "uniswap-v3-periphery"]
	path = uniswap-v3-periphery
	url = https://github.com/Uniswap/uniswap-v3-periphery.git
[submodule "aave-protocol-v2"]
	path = aave-protocol-v2
	url = https://github.com/aave/protocol-v2.git
[submodule "curvefi-protocol"]
	path = curvefi-protocol
	url = https://github.com/curvefi/curve-contract.git
[submodule "balancer-core"]
	path = balancer-core
	url = https://github.com/balancer-labs/balancer-core.git
[submodule "balancer-core-v2"]
	path = balancer-core-v2
	url = https://github.com/balancer-labs/balancer-core-v2.git
[submodule "core"]
	path = core
	url = https://github.com/unitprotocol/core.git
[submodule "0xprotocol"]
	path = 0xprotocol
	url = https://github.com/0xProject/protocol.git
[submodule "1inch-chi"]
	path = 1inch-chi
	url = https://github.com/1inch/chi.git
[submodule "synthetix"]
	path = synthetix
	url = https://github.com/Synthetixio/synthetix.git
[submodule "opynfinance-gamma-protocol"]
	path = opynfinance-gamma-protocol
	url = https://github.com/opynfinance/GammaProtocol.git
[submodule "crypto-swap-contracts-core"]
	path = crypto-swap-contracts-core
	url = https://github.com/crypto-com/swap-contracts-core
[submodule "crypto-swap-contracts-periphery"]
	path = crypto-swap-contracts-periphery
	url = https://github.com/crypto-com/swap-contracts-periphery
[submodule "bancorprotocol-contracts"]
	path = bancorprotocol-contracts
	url = https://github.com/bancorprotocol/contracts-solidity.git
[submodule "set-protocol-v2"]
	path = set-protocol-v2
	url = https://github.com/SetProtocol/set-protocol-v2.git
[submodule "frax-solidity"]
	path = frax-solidity
	url = https://github.com/FraxFinance/frax-solidity.git
[submodule "dsd-protocol"]
	path = dsd-protocol
	url = https://github.com/dynamicsetdollar/dsd-protocol.git
[submodule "Covenants-Core"]
	path = Covenants-Core
	url = https://github.com/EthereansOS/Covenants-Core.git
[submodule "emptyset"]
	path = emptyset
	url = https://github.com/emptysetsquad/emptyset.git
[submodule "cvi-contracts"]
	path = cvi-contracts
	url = https://github.com/coti-io/cvi-contracts.git
[submodule "set-protocol-contracts"]
	path = set-protocol-contracts
	url = https://github.com/SetProtocol/set-protocol-contracts.git
[submodule "magic-internet-money"]
	path = magic-internet-money
	url = https://github.com/Abracadabra-money/magic-internet-money.git
[submodule "convexfinance"]
	path = convexfinance
	url = https://github.com/convex-eth/platform.git
[submodule "pendle-core"]
	path = pendle-core
	url = https://github.com/pendle-finance/pendle-core.git
[submodule "mStable-contracts"]
	path = mStable-contracts
	url = https://github.com/mstable/mStable-contracts.git
[submodule "bancor-v3"]
	path = bancor-v3
	url = https://github.com/bancorprotocol/contracts-v3.git
