[submodule "compound-protocol"]
	path = compound-protocol
	url = https://github.com/compound-finance/compound-protocol.git
[submodule "makerdao-dss"]
	path = makerdao-dss
	url = https://github.com/makerdao/dss.git
[submodule "sushiswap"]
	path = sushiswap
	url = https://github.com/sushiswap/sushiswap.git
[submodule "uniswap-v2-core"]
	path = uniswap-v2-core
	url = https://github.com/Uniswap/uniswap-v2-core.git
[submodule "uniswap-v2-periphery"]
	path = uniswap-v2-periphery
	url = https://github.com/Uniswap/uniswap-v2-periphery.git
[submodule "uniswap-v3-core"]
	path = uniswap-v3-core
	url = https://github.com/Uniswap/uniswap-v3-core.git
[submodule "uniswap-v3-periphery"]
	path = uniswap-v3-periphery
	url = https://github.com/Uniswap/uniswap-v3-periphery.git
[submodule "aave-protocol-v2"]
	path = aave-protocol-v2
	url = https://github.com/aave/protocol-v2.git
[submodule "curvefi-protocol"]
	path = curvefi-protocol
	url = https://github.com/curvefi/curve-contract.git
[submodule "balancer-core"]
	path = balancer-core
	url = https://github.com/balancer-labs/balancer-core.git
[submodule "balancer-core-v2"]
	path = balancer-core-v2
	url = https://github.com/balancer-labs/balancer-core-v2.git
[submodule "core"]
	path = core
	url = https://github.com/unitprotocol/core.git
[submodule "0xprotocol"]
	path = 0xprotocol
	url = https://github.com/0xProject/protocol.git
[submodule "1inch-chi"]
	path = 1inch-chi
	url = https://github.com/1inch/chi.git
[submodule "synthetix"]
	path = synthetix
	url = https://github.com/Synthetixio/synthetix.git
[submodule "opynfinance-gamma-protocol"]
	path = opynfinance-gamma-protocol
	url = https://github.com/opynfinance/GammaProtocol.git
